.page {
  background-color: #eef6f8;
  height: calc(100vh - 4.5rem);
  overflow-y: auto;
  border-top-left-radius: 1.625rem;
  width: calc(100vw - 14rem);
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .page {
    width: 100vw;
    border-top-left-radius: 0;
  }
}
